@charset "UTF-8";

.main {
    margin: 5px auto;
    width: 910px;
    height: 100%;
}

#primary {
/*    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
*/    height: 100%;
    padding: 20px;
    background: #efefef;
    /*overflow: hidden;*/
}

.wrap {
    background: #FFF;
    border: 0px solid #456;
    padding: 10px;
    margin-bottom: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#primary .box {
    float: left;
    margin: 0 5px 5px 0;
    padding: 20px;
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 140px;
    min-height: 100px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #0ff1ce;
}

.col1 {
    width: 140px;
}
.col2 {
    width: 285px;
}
.col3 {
    width: 430px;
}

​.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}