@charset "UTF-8";

.main {
    margin: 5px auto;
    /*width: 910px;*/
    width: 90%;
    height: 100%;
}

#primary {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}


#primary .box {
    float: left;
    margin: 0 5px 5px 0;
    padding: 20px;
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 140px;
}

.col1,
.col2,
.col3 {
    width: 100%;
}

.col1 { max-width: 140px; }
.col2 { max-width: 285px; }
.col3 { max-width: 430px; }

/* -------------------------------------------------------
    Style
   ------------------------------------------------------- */

.block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    background: #efefef;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.box {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #0ff1ce;
    word-wrap: break-word;
}

.box strong {
    font-size: 20px;
}

/* -------------------------------------------------------
    Tools
   ------------------------------------------------------- */

​.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}